html {
font-family:sans-serif;
-webkit-text-size-adjust:100%;
-ms-text-size-adjust:100%;
}

body {
margin:0;
background: #2C3E50;
}
h3{
	color: #BDC3C7;
}
h5{
	text-align: center;
}

.wrapper {
width:810px;
margin:30px auto;

}

.wrapper h1 {
text-align:center;
color:#E9967A;
font-size:300%;
}

.playground{
	background: #fff;
	width:770px;
	padding: 10px;
}

.status{
	float: right;
	width: 200px;
	height:127px;
	border: dashed 2px #BDC3C7;
	padding: 3px;
	margin-bottom: 10px;
	margin-left: 5px;
}
.status h5{
	text-align: center;
	background: #eee;
	margin: 0;
	padding: 2px;
}
.status b{
	font-size: 90%;
	color: #777;
}
#skills{
	width: 180px;
}
#skills h5{
	margin-bottom: 7px;
}
.progress{
	margin-bottom: 2px;
}

#draggable{
	width: 90px;
	height:110px;
	display:block;
	z-index: 3;
	padding: 18px 0 0 35px;
}

.lifeactions{
	clear: both;
	margin-top: 5px;
	background: #eee;
	padding: 3px;
}

.areas{
	width: 110px;
	height: 137px;
	position: relative;
	margin: 5px;
	display: inline-block;
}

 .areas p { position: absolute; bottom: 0; left: 0; width:100%; text-align: center; color: #fff; font-weight: bold; }
#eat{background: #D35400;}
#love{background: #E74C3C;}
#learn{background: #95A5A6;}
#work{background: #7F8C8D;}
#exercise{background: #2ECC71;}
#travel{background: #27AE60;}

.achievements{
	clear: both;
	margin-top: 5px;
	background: #ddd;
	padding: 3px;
	height: 210px;
	margin-bottom: 5px;
}
.achieved{
	height: 155px;
	max-width: 151px;
	position: relative;
	margin: 5px;
	padding: 10px;
	float:left;
	background: #F1C40F;
}
.achieved p { position: absolute; bottom: 0; left: 0; width:100%; text-align: center; color: #000; font-weight: bold; }

.highlight{
  box-shadow: 0 0 9px #2C3E50;
  border: 1px solid #2C3E50;
}
/*hide achievements on start*/
#ach_skilled_worker, #ach_family, #ach_business, #ach_house{display:none;}
#ach_family_locked, #ach_business_locked, #ach_house_locked{background: #95A5A6 url("../img/lock_10.png") no-repeat center;color:#000;}

/*game over css*/
.die {
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -moz-transform: rotate(90deg);   /* Firefox */
    -ms-transform: rotate(90deg);   /* IE 9 */
    -o-transform: rotate(90deg);   /* Opera */
    transform: rotate(90deg);
} 
#statusbox h2{
	text-align: center;
}